<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>List of products</title>
</head>
<body>
<h1>Here you can see the list of products!</h1>
<h1>Product List</h1>
<ul>
    <li th:each="product : ${products}">
        <span th:text="'Product: ' + ${product.name}"></span>
        <span th:text="'Price: ' + ${product.price}"></span>
        <span th:text="'Category: ' + ${product.category.name}"></span>
        <span th:text="'Quantity: ' + ${product.quantity}"></span>
        <img th:src="${product.imageUrl}" alt="Product Image" style="width: 100px; height: auto;">
    </li>
</ul>

</body>
</html>